---
import Layout from '../layouts/Layout.astro';
import PokemonList from '../components/PokemonList.astro';
---

<Layout title="Welcome to Astro.">
  <main class="h-[2000px]">
    <h1 class="text-blue-400 font-bold text-8xl">Astro Fuckery</h1>
    <h3 class="font-bold text-5xl">Astrx fckry</h3>
    <PokemonList />
  </main>
</Layout>
