---

---

<header class="w-full sticky top-0 pt-6 flex justify-center backdrop-blur-sm pb-6 z-10 border-b-gray-100 border">
  <nav class="flex w-full max-w-screen-2xl flex-row [&_*]:leading-none px-8 items-end justify-between">
    <a href="/" class="font-semibold text-2xl">
      <span class="inline-block">Astr</span><span class="text-red-400 inline-block">x</span>
    </a>
    <li class="list-none flex flex-row align-center flex-grow-1 h-fit gap-8">
      <a href="/foo" class="font-semibold hover:text-blue-400">Foo</a>
      <a href="/barbaz" class="font-semibold hover:text-blue-400">BarBaz</a>
    </li>
  </nav>
</header>
